body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
     background: linear-gradient(135deg, #2a5298, #2a5298);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 60px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}